---
layout: page
title: Inspiration
navigation_weight: 2
---

<ul class="post-list">
  {% for post in site.categories.inspiration %}
  <li>
    <a href="{{ post.url | relative_url }}">
    <!-- First image from post -->
    {% assign images = post.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src=' %}
        {% assign imageMarkup = image | split:">" | first %}
        <img {{ imageMarkup }}>
        {% break %}
      {% endif %}
    {% endfor %}

    <!-- Title -->
    <h2>
      {{ post.title | escape }}
    </h2>

    <!-- Date -->
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span>

    <!-- Excerpt -->
    {% if site.show_excerpts %}
      {{ post.excerpt }}
    {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
