html, body, .container {
  height: 100%;
}



.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.flex {
  flex-grow: 1;
  width: 50%;
}

#left {
  background-color: red;
}

#right {
  background-color: darkred;
}

@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .flex {
    width: 100%;
  }

}
