html, body, .container {
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 240%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 200%;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
}

#left {
  background: url("lex.jpg") no-repeat 51% 30% #1A1A1A;
}

#right {
  background-color: #1A1A1A;
  box-sizing:border-box;
  /*border: 1px solid white;*/
  outline:1px solid rgba(255, 255, 255, 0.75);;
  outline-offset:-3rem;
}


.hairline {
  /*display: flex;*/
  background-color: #fff;
  width: 100px;
  height: 100px;
  /*flex-grow: 1;*/
  /*justify-content: center;*/
}

@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .flex {
    width: 100%;
  }

  #left {
    flex-grow: 0;
  }
}
