::selection {
  background-color: rgba(0, 0, 0, 0.15);
}

html, body, .container {
  height: 100%;
}

body {
  color: #333;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 150%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
}

#left {
  background: url("lex.jpg") no-repeat 51% 50% #1A1A1A;
  background-size: cover;
}

hr {
  border: none;
  width: 30px;
  height: 2px;
  margin: 2rem auto;
  background-color: #ccc;
}

#right {
  background-color: #fff;
  /*outline:1px solid rgba(0, 0, 0, 0.15);;*/
  /*outline-offset: -3rem;*/
}


@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .flex {
    width: 100%;
  }

  #left {
    flex-grow: 0;
  }
}
