/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 960px;
  margin: 1em;
}

body, a {
  color: #222;
}

a.active {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Navigation */
nav h1,
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 0 0.5em;
}

nav ul,
/* Tiles */
ul.post-list {
  list-style: none;
  padding-left: 0;
}

ul.post-list {
  column-count: 2;
  column-gap: 0.5em;
}

ul.post-list li {
  display: inline-block;
  margin: 0 0 2em;
  width: 100%;
  border-radius: .3em;
  padding: .5em;

  transition: background-color 0.4s ease;
}
  ul.post-list li:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

ul.post-list h2 {
  font-size: 1em;
  margin: .5em 0 0.2em;
}

ul.post-list span {
  font-size: 0.75em;
}

ul.post-list a {
  text-decoration: none;
}

ul.post-list li img {
  border-radius: .3em;
}

/* Screens bigger than mobile */
@media only screen and (min-width: 578px) {
  body {
    margin: 1em auto;
    padding: 0 1em;
  }
  ul.post-list {
    column-count: 4;
  }
}
