---
layout: default
---

<div class="home">

  {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <!-- First image from post -->
        {% assign images = post.content | split:"<img " %}
        {% for image in images %}
          {% if image contains 'src=' %}
            {% assign imageMarkup = image | split:">" | first %}
            <img {{ imageMarkup }}>
            {% break %}
          {% endif %}
        {% endfor %}

        <!-- Date -->
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <!-- Title -->
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <!-- Excerpt -->
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
